---

---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
<!--
    {%- include header.html -%}
-->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div class = "e-pluribus-unum">
          <p class = "line1">E Pluribus Unum</p>
          <p class = "line2">means we're all in this</p>
          <p class = "line3">TOGETHER</p>
        </div>

        {{ content }}

      </div>
    </main>

  </body>

</html>